.ranking-table {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.col {
  flex: 1;
}

.row {
  width: 100%;
  padding: 0.75em;

  &:first-child {
    font-weight: 600;
  }

  &:nth-child(odd) {
    background: #ccc;
  }
}
